<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<br>
<br>
<br>
 <!--
<form route="/home" method="get">
   -->
    <% if(posts){
        var card = '<div class="col-sm-5">';
          posts.forEach(function(i){
            card += '<div class="col">';
              card += '<div class="card" style="width: 18rem;">';
                  card += '<div class="card-body">';
                    if i.title {
                      card += '<h5 class="card-title">'+i.title+'</h5>';
                    }
                    if i
                    card += '<p class="card-text">'+i.;summary+'</p>';
                    card += '<p>'+i.activity_time+'</p>'
                    card += '<button class="circlebtn"><i class="bi bi-download"></i></button>'
                  card += '</div>';
                card += '</div>';
              card += '</div>';
          });
        card += '</div>'; %>
        <%- card %>
      <% } %>
    <!--
</form>
-->

<%- include('../partials/footer'); %>
