<!DOCTYPE html>

<html lang="en">

<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="description" content="Boulder Colorado Activity Finder">
    <meta name="keywords" content="Boulder, Colorado, Events, Activities, Meetups, Clubs, Sports, Gatherings">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--External CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../resources/style/mystyle.css">

    <!--Page Title-->
    <title>Boulder Colorado Activity Finder</title>
</head>


<body>
</body>

</html>