<!DOCTYPE html>

<html lang="en">

<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="description" content="Boulder Colorado Activity Finder">
    <meta name="keywords" content="Search, Boulder, Colorado, Events, Activities, Meetups, Clubs, Sports, Gatherings">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--Page Title-->
    <title>Search - Boulder Activity Finder</title>

    <!--External CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../resources/style/mystyle.css">

    <!--External Javascript-->
    <script src="../js/myscript.js"></script>

    <!--External Javascript-->
    <script src="../js/myscript.js"></script>

</head>


<body>

<!--External Javascript-->
<script src="../js/myscript.js"></script>    
</body>

</html>