<!DOCTYPE html>

<html lang="en">

<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="description" content="This website is a used to find activities in Boulder, Colorado.">
    <meta name="keywords" content="Boulder, Colorado, Events, Activities, Meetups, Clubs, Sports, Gatherings">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Page Title-->
    <title>Settings - Boulder Activity Finder</title>

    <!--External CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../resources/style/mystyle.css">
</head>


<body>

<!--External Javascript-->
<script src="../js/myscript.js"></script>    
</body>

</html>