<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<br>
<br>
<br>

<div class="container">
    <style>
        
    </style>
<form route='/home' method="get">
    <% 
    if(allpost){
        var card = '<div class="row row-cols-1 row-cols-md-3 g-4">';
        allpost.forEach(function(i){
            card += '<div class="col">';
            card += '<div class="card" style="width: 18rem;">';
            card += '<img src="..." class="card-img-top" alt="...">';
            card += '<div class="card-body">';
            card += '<h5 class="card-title">'+i.title+'</h5>';
            card += '<p class="card-text">'+i.summary+'</p>';
            card += '<a href="#" class="btn btn-primary">Go somewhere</a>';
            card += '</div>';
            card += '</div>';
            card += '</div>';
        }); %>
        
        <% card += '</div>'; %>
       
        <%- card %>
   <% } %>
   
</form>
</div>

<%- include('../partials/footer') %>
