<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<form route='/home' method="get">
    <% 
    if(allpost){
        var card = ""
        allpost.forEach(function(i){

        })%>
        <%- card ->
   <% } %>
   
</form>

<%- include('../partials/footer') %>
