<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<br>
<br>
<br>
 <!--
<form route="/home" method="get">
   -->
    <% 
    if(joinpost){
        var card = '<div class="row row-cols-1 row-cols-md-3 g-4">';
        joinpost.forEach(function(i){
            
            card += '<div class="col">';
            card += '<div class="card" style="width: 18rem;">';
            
            card += '<div class="card-body">';
            card += '<h5 class="card-title">'+i.title+'</h5>';
            card += '<p class="card-text">'+i.description+'</p>';
            card += '<p>'+i.activity_time.toString().substring(0,24)+'</p>'
            card += '<button class="btn btn-primary btn-lg btn-floating">download</button>'
            card += '</div>';
            card += '</div>';
            card += '</div>';
            
        }); %>
        
        <% card += '</div>'; %>
       
        <%- card %>
    <% } %>
    <!--
</form>
-->

<%- include('../partials/footer'); %>
