<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<br>
<br>
<br>

   
   <% if(joinpost){ 
        
    var card = '<div class="row row-cols-1 row-cols-md-3 g-4">';
    joinpost.forEach(function(i){
        card += '<div class="col">';
        card += '<div class="card" style="width: 18rem;">';
        card += '<div class="card-body">';
        card += '<h5 class="card-title" id="title">'+i.title+'</h5>';
        card += '<p class="card-text" id="desc">'+i.description+'</p>';
        card += '<p id="time">'+i.activity_date.toString().substring(0,24)  +'</p>' 
        card += '<a class="downbtn" href="#" role="button" onclick="start_download()"  download="event.ics" >download</a>'
        card += '</div>';
        card += '</div>';
        card += '</div>';
    }); %>
    <% card += '</div>'; %>
    <%- card %>
    
<% } %>

<%- include('../partials/footer'); %>
