<%- include('../partials/header') %>
<style>

/* This css was created by Bootstrap for their login page example */
html, body{
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #183140;
  border-radius: 30px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

</style>
<div class="container">
    <form class="form-signin" method="post" action="home.html">
      <img src="../resources/img/navbar-logo.jpg" alt="" width="150px">
      <br>
      <br>
      <label for="inputEmail" class="sr-only">email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="username/email" required autofocus>
      <label for="inputPassword" class="sr-only">password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> remember me |
        </label>
        <a href="">forgot password?</a>
      </div>
      <button class="btn btn-lg btn-primary" type="submit">sign-in</button>
      <a class="btn btn-lg btn-primary" href="registration.html">register</a>
    </form>
  </div>

<%- include('../partials/footer') %>
