<%- include('../partials/header_signin') %>

<div class="container">
    <form class="form-signin" method="post" action="home.html">
      <img src="../resources/img/navbar-logo.jpg" alt="" width="150px">
      <br>
      <br>
      <label for="inputEmail" class="sr-only">email address</label>
      <input type="email" id="inputEmail" class="form-control" name="inputEmail" placeholder="username/email" required autofocus>
      <label for="inputPassword" class="sr-only">password</label>
      <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> remember me |
        </label>
        <a href="">forgot password?</a>
      </div>
      
      <button class="btn btn-lg btn-primary" type="submit">sign-in</button>
      <a class="btn btn-lg btn-primary" href="registration.html">register</a>
      <%
      if(log || title)%>
        <%- console.log("find")%>
        
      <%  }%>
    </form>
  </div>

<%- include('../partials/footer') %>
