<%- include('../partials/header_signin') %>

  <div class="container center">
    <div class="jumbotron">
      <h1 class="display-4" style="color: #183140;">Invalid Entry</h1>
      <p style="color: #183140"><%- alert_msg %></p>
      <a class="btn btn-lg btn-primary" href="../registration">Try Again</a>
    </div>
  </div>

<%- include('../partials/footer') %>
