<%- include('../partials/header_signin') %>

  <div class="container center text-center">
    <form class="form-signin" action="registration/new_user" method="post" onsubmit="return validateForm()">
      <img src="../../resources/img/navbar-logo.jpg" alt="site logo" width="150px">
      <br>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="firstName">first name</label>
          <input type="text" maxlength="30" class="form-control round-a" name="firstname" id="firstname" placeholder="John" required>
        </div>
        <div class="form-group col-sm-6">
          <label for="lastName">last name</label>
          <input type="text" maxlength="30" class="form-control round-a" name="lastname" id="lastname" placeholder="Doe" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="username">username</label>
          <input type="text" maxlength="30" class="form-control round-a" name="username" id="username" placeholder="jd2021" oninput="checkUsernameAvail()" required>
          <%
            var userArray = [];
            existing_users.forEach(item => {
              userArray.push(item.username);
            })
          %>
          <p class="d-none" id="currUsers"><%- userArray %></p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="email">email address</label>
          <input type="email" maxlength="255" class="form-control round-a" name="email" id="email" placeholder="john.doe@sample.com" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="password">password <small class="text-muted">(6-20 characters)</small></label>
          <input type="password" minlength="6" maxlength="20" class="form-control round-a" name="password" id="password" placeholder="password" oninput="checkPasswordMatch()" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="passwordConfirm">confirm password</label>
          <input type="password" class="form-control round-a" name="passwordConfirm" id="passwordConfirm" placeholder="confirm password" oninput="checkPasswordMatch()" required>
        </div>
      </div>
      <input type="submit" value="submit" class="btn btn-primary">
    </form>
    <br>
  </div>

<%- include('../partials/footer') %>
