<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<br>
<br>
<br>

<% if(joinpost){
    var card = '<div class="row row-cols-1 row-cols-md-3 g-4">';
    joinpost.forEach(function(i){
        card += '<div class="card" style="width: 18rem;">';
        card += '<img src="../../resources/img/hiking.jpg" class="card-img-top" alt="..." style="height: 300;width: 320;">';
        card += '<div class="card-body">';
        card += '<h5 class="card-title">Card title</h5>';
        card += '<p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards content.</p>';
        card += '<a href="#" class="btn btn-primary">Go somewhere</a>';
        card += '</div>';
        card += '</div>';
    }); %>
    <% card += '</div>'; %>
    <%- card %>
<%}%>

<%- include('../partials/footer'); %>
