<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button">Announcement</button>
    <button class="btn btn-primary" type="button">Activity</button>
</div>
<form id="annou" method="POST" route="">

</form>



<%- include('../partials/footer') %>
