<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
<br>
<br>
<br>

<!--
   <% if(joinpost){ 
    console.log(joinpost)
    var card = '<div class="row row-cols-1 row-cols-md-3 g-4">';
    joinpost.forEach(function(i){
        
        c
       

    }); %>
    <% card += '</div>'; %>
    <% console.log(card) %>
    <%- card %>
    
<% } %>
 -->

<%- include('../partials/footer'); %>
