
<html lang="en">
  <head>
    <!--Google Sign-in-->
      <!--Google Platform Library-->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <!-- Specify app's client ID-->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

  </head>
  <body>
    <!--Google Sign-in button-->
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <!-- Get profile information-->
    <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
    </script>
    <!-- Sign out a user-->
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
      console.log('User signed out.');
      });
      }
    </script>
  </body>
</html>

